body{
    margin: 0;
    background-color: #F63568;
    font-family: Roboto;
    overflow-y: hidden;
}

.header{
    font-family: 'Montaga';
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    margin: 0;
    padding:15px;
}
h1,h2{  
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(32, 65, 114);
    transition: .25s;
}

.main-grid{
    display: flex;
    justify-content: center;
    padding: 5px 40px;
    gap: 3vw;
}
.main-grid>div{
    flex: 1;
    justify-content: space-between;
}
.bmi-intro{
    font-family: 'Montaga';
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.bmi-intro div{
    font-size: 1.1em;
    text-align: justify;
    color: rgb(28, 28, 28);
}
.img-container{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.bmi-calc-container{
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    margin-left: 40px;
    background-color: white;
}

.weight-container,.height-container{
    font-family: 'Montaga';
    color: rgb(28, 28, 28);
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
input,select{
    border:2px solid black;
    cursor: pointer;
    padding: 10px;
    font-size: 0.7em;
    transition: .25s;
    border-radius: 10px;
}

select{
    border: 2px solid black;
    font-weight: bold;
    padding: 10px 2px;
    color:rgb(32, 65, 114);
}
button{
    cursor: pointer;
    padding: 12px 40px;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #0b58f2;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    transition: .25s;
}
button:hover{
    transform: scale(1.02);
    filter: brightness(1.2);
}

.bmi-calc{
    font-family: Arial, sans-serif;
    transition: .7s;
    color: white;
}
option{
    color: black;
}
i{
    margin-left: 10px;
}

.result-container{
    background-color: #F63568;
    border-radius: 10px;
    border-top-right-radius: 50px;
    color: white;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: .5s;
    width: 100%;
}

.bmi-value{
    display: flex;
    flex-direction: column;
}

.bmi-value div{
    padding: 15px;
    padding-bottom: 15px;
}
.bmi-value h1{
    padding: 15px;
    margin: 0;
    padding-top: 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.result{
    padding: 0;
    margin: 15px;
}

.bmi-value h3{
    padding-left: 10px;
}

.wel-container{
    width: 100%;
    color: white;
    background-color: #F63568;
    border-radius: 10px;
    border-top-right-radius: 50px;
    font-family:Arial, Helvetica, sans-serif;
}
.wel-container div{
    margin: 10px 0;
    font-size: 14px;
    padding: 10px;
    padding-top: 0;
}
.wel-container h5{
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
}

@media (max-width:965px) {
    .main-grid{
        flex-direction: column;
        min-width: 0px;
        gap: 30px;
    }
    .header{
        margin:0 ;
    }
    body{
        overflow: auto;
    }
    .bmi-intro{
        min-width: 0px;
    }
    .bmi-calc-container{
        margin: 0;
    }
}
@media (width<500px) {
    .header{
        display: none;
    }
    .main-grid{
        gap: 0;
        padding: 0;
    }
    .bmi-intro,.bmi-calc-container{
        border-radius:0 ;
        box-shadow: none;
        margin: 0;
    }
    input{
        width: 50%;
    }
}